.cards2 {
  display: flex;
  margin-top: 10px;
  width: 100%;
  align-items: stretch;
  height: auto;
}
@media screen and (max-width: 768px) {
  .cards2 {
    padding: 20px 5px;
  }
}
.top {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.gc {
  margin-right: 10px !important;
}
@media screen and (max-width: 900px) {
  .cards2 {
    flex-wrap: wrap;
  }
  .fl,
  .gc {
    width: 100% !important;
  }
  .gc {
    margin-right: 0 !important;
  }
}
.fl {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-left: 10px;
  margin-top: 10px;
  max-height: 270px;
  min-height: 270px;
}
.gc {
  display: flex;
  width: 50%;
  max-height: 270px;
  margin-top: 10px;
  min-height: 270px;
}
.gc > .recent-post-item {
  width: 60% !important;
}
.gc > .recent-post-item {
  flex: 1 1 auto;
}
.gc {
  -webkit-text-size-adjust: 100%;
  color: var(--font-color);
  font-size: var(--global-font-size);
  font-family: LXGW WenKai;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(50px);
}
.fl {
  -webkit-text-size-adjust: 100%;
  color: var(--font-color);
  font-size: var(--global-font-size);
  line-height: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 270px;
  margin-left: 0 !important;
  backdrop-filter: blur(30px) saturate(180%);
  border-radius: 10px;
  -webkit-transition: all 0.5s;
}
[data-theme="light"] .gc,
[data-theme="light"] .fl {
  box-shadow: var(--card-box-shadow);
  background: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(50px);
}
[data-theme="dark"] .gc,
[data-theme="dark"] .fl {
  box-shadow: none !important;
  backdrop-filter: blur(50px);
}
li.categoryBar-list-item {
  height: 115px !important;
  padding-top: 10px !important;
}
#gitcalendar {
  padding: 0 !important;
}
#gitcalendar {
  border: none !important;
}
.fl,
.gc > .recent-post-item {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
#algolia-search > div.search-dialog > nav > button > i{
    color:white !important;
}
#algolia-pagination > div > ul > li.ais-Pagination-item.ais-Pagination-item--page.ais-Pagination-item--selected > a{
    border-radius: 3px !important;
}
.layout {
  max-width: 1450px !important;
}
@media screen and (min-width: 1200px) {
  #recent-posts {
    margin-top: -1rem; /*头部为空时抵消间隔，若有磁贴或日历请注释掉该行*/
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap; /*规定灵活的项目在必要的时候拆行或拆列。*/
    justify-content: space-between; /*。*/
  }
  #recent-posts > .recent-post-item:not(.latest) {
    /*max-height:324px;*/ /*文章容器最大高度*/
    margin-top: 1rem; /*最小间距*/
    display: inline-block;
    height: auto; /*高度自动*/
    width: 49%; /*文章容器容器宽度*/
  }
  #recent-posts > .recent-post-item:not(.latest) .post_cover {
    width: 100%; /*图片封面宽度*/
    height: 200px; /*图片封面高度*/
  }
  #recent-posts > .recent-post-item:not(.latest) .post_cover img.post_bg {
    width: 100%; /*图片宽度*/
    height: 100%; /*图片高度*/
  }

  .article-meta__categories:not(
      #category .article-meta__categories,
      #tag .article-meta__categories,
      #archive .article-meta__categories
    ) {
    position: absolute;
    top: 10px;
    color: white !important;
    padding: 0 15px;
    background-color: var(--lyx-black-acrylic3);
    border-radius: 12px;
    right: 15px;
    text-decoration: none !important;
  }
  .article-meta__categories:not(
      #category .article-meta__categories,
      #tag .article-meta__categories,
      #archive .article-meta__categories
    ):hover {
    background-color: #0099ff;
  }
  #recent-posts > .recent-post-item:not(.latest) {
    -webkit-flex-direction: column; /*容器内部纵向排列*/
    -ms-flex-direction: column; /*容器内部纵向排列*/
    flex-direction: column; /*容器内部纵向排列*/
  }
  #recent-posts > .recent-post-item:not(.latest) .left_radius {
    border-radius: 12px 8px 0 0; /*圆角修改*/
  }
  #recent-posts > .recent-post-item:not(.latest) .right_radius {
    border-radius: 12px 8px 0 0; /*圆角修改*/
  }
  .recent-post-item:not(.latest) {
    height: auto !important; /*容器高度自动*/
  }

  .recent-post-info {
    padding: 0 40px; /*容器内部文字左右间距*/
    margin-top: 1em; /*容器内部文字上间距*/
    width: 100% !important; /*容器宽度*/
  }
  #recent-posts
    > .recent-post-item:not(.latest)
    > .recent-post-info
    > .article-title {
    -webkit-line-clamp: 1; /*控制标题的行数*/
    margin-top: 0.3rem; /*控制标题的上间距*/
    margin-bottom: 0.3rem; /*控制标题的下间距*/
    /* color: var(--text-highlight-color); */
    font-size: 1.2em; /*控制标题的字体大小*/
    line-height: 1.4; /*控制标题的行高*/
  }
  #recent-posts
    > .recent-post-item:not(.latest)
    > .recent-post-info
    > .article-title
    :hover {
    color: var(--lyx-theme);
  }
  #recent-posts
    > .recent-post-item:not(.latest)
    > .recent-post-info
    > .article-meta-wrap {
    margin-bottom: 1rem; /*控制标题meta信息的底部间距*/
  }
}
#categoryBar {
  overflow: hidden;
}
#categoryBar {
  padding-bottom: 10px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
}
#categoryBar::-webkit-scrollbar {
  width: 0 !important;
}
@media screen and (max-width: 900px) {
  .contrib-column {
    display: none !important;
  }
  .gc {
    display: none !important;
  }
}
.contrib-column {
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

.contrib-column-first {
  border-left: 0;
}