/* 下载按钮和404返回按钮 */
.download-list-item {
  line-height: 2;
  overflow-wrap: break-word;
  box-sizing: border-box;
  margin-bottom: 0 !important;
  margin: 0 0 20px;
  text-align: center;
  font-family: "LXGW WenKai";
}
.download-list-item-button,
.error-back-button {
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;
  margin: 6px 6px 6px 6px;
  background-color: var(--theme-color);
  color: #fff;
  padding: 6px 15px;
}

.error-back-button {
  margin-top: 1rem;
  display: block;
  align-self: center;
  max-width: fit-content;
}

.download-list-item-button:hover,
.error-back-button:hover {
  text-decoration: none;
  color: #fff;
  background: var(--btn-hover-color);
}
[data-theme="light"] .cal_week {
  background: transparent;
}
[data-theme="light"] #rightside > div > button,
[data-theme="light"] #rightside > div > a {
  backdrop-filter: blur(50px);
  cursor: pointer !important;
}
[data-theme="light"] #rightside > div > button:hover,
[data-theme="light"] #rightside > div > a:hover {
  background: var(--btn-hover-color);
  cursor: pointer !important;
}
[data-theme="dark"] #rightside > div > button,
[data-theme="dark"] #rightside > div > a {
  cursor: pointer !important;
}
.card-archive-list-link {
  border-radius: 8px;
}
.card-archive-list-link:hover {
  border-radius: 8px;
  color: var(--white) !important;
}
#sidebar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
/* 文章日历 */
.cal tbody .cal-ntoday a {
  border-radius: 5px;
  border: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

.cal tbody .cal-today a {
  border-radius: 5px;
  border: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

.cal tbody .cal-ntoday a:hover {
  background-color: var(--theme-color);
}
.cal-title {
  font-family: LXGW WenKai;
}
body > div.snackbar-container.snackbar-css.snackbar-pos.top-right > p {
  font-family: LXGW WenKai;
}

.cal-title a:hover {
  color: var(--theme-color);
}
button#go-up #percent {
  display: none;
  font-weight: bold;
  font-size: 15px !important;
}

button#go-up span:nth-child(2) {
  font-size: 12px !important;
  margin-right: -1px;
}
button#go-up:hover i {
  display: block !important;
}

button#go-up:hover #percent {
  display: none !important;
}
/* #sidebar #menu-mask {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: saturate(180%) blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  transform: translateZ(0);
  animation: 0.6s ease 0s 1 normal none running to_show;
} */
