/* 主页哔哔bb */
#speaks {
  width: 100%;
  height: 25px;
  line-height: 25px;
}

#speaks .li-style {
  width: 90%;
  height: 25px;
  text-align: center;
  -webkit-line-clamp: 1;
  align-self: center;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

#speaks .li-style:hover {
  color: #49b1f5;
}

#speaks ul,
#speaks li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

#bbTimeList {
  background: var(--card-bg);
  color: var(--font-color);
  margin-top: 20px;
  padding: 0.6rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
}
.bbTimeList {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
#bbtalk {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
