html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgb(80, 65, 95);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(80, 65, 95, 1) 0%,
    rgba(35, 20, 50, 1) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(80, 65, 95, 1) 0%,
    rgba(35, 20, 50, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(80, 65, 95, 1) 0%,
    rgba(35, 20, 50, 1) 100%
  );
  font-family: "Domine";
  letter-spacing: 0px;
  line-height: 1.5em;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

/* Menu Icons */

.upperLeft,
.upperRight {
  position: fixed;
  top: 10px;
  width: 26px;
  height: 26px;
  opacity: 0.5;
  cursor: pointer;
  z-index: 999;
  background-size: contain;
  visibility: hidden;
}

.upperLeft:hover,
.upperRight:hover {
  opacity: 1;
}

.upperLeft {
  left: 10px;
}

.upperRight {
  right: 10px;
}

.show {
  -moz-animation: cssAnimationVisible 0s ease-in 0.5s forwards;
  -webkit-animation: cssAnimationVisible 0s ease-in 0.5s forwards;
  -o-animation: cssAnimationVisible 0s ease-in 0.5s forwards;
  animation: cssAnimationVisible 0s ease-in 0.5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hide {
  -moz-animation: cssAnimationHidden 0s ease-in 0.5s forwards;
  -webkit-animation: cssAnimationHidden 0s ease-in 0.5s forwards;
  -o-animation: cssAnimationHidden 0s ease-in 0.5s forwards;
  animation: cssAnimationHidden 0s ease-in 0.5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimationHidden {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes cssAnimationHidden {
  to {
    visibility: hidden;
  }
}

@keyframes cssAnimationVisible {
  to {
    visibility: visible;
  }
}
@-webkit-keyframes cssAnimationVisible {
  to {
    visibility: visible;
  }
}

/* --- */

.caption {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  opacity: 0.7;
  font-family: "Handlee";
  font-size: 16px;
  z-index: 1003;
}

.anchor {
  width: 100%;
  height: 5px;
}

.timer {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  height: 32px;
  margin: 0px;
}

.tile1 {
  min-height: 100%;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  border: 0px dotted #f00;
}

.tile2 {
  margin-left: 40px;
  margin-right: 30px;
  text-align: left;
  border: 0px dotted #00f;
}

#title {
  opacity: 1;
  padding-top: 3vh;
  letter-spacing: 4px;
  line-height: 20px;
  font-size: 48px;
  color: #fff;
}

#subtitle {
  opacity: 0.7;
  padding-top: 10px;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
}

.reg {
  opacity: 0.7;
  font-size: 26px;
  vertical-align: top;
}

.ctrSection {
  padding-top: 5vh;
  padding-bottom: 3vh;
}

.slide {
  position: absolute;
  text-align: right;
  width: 80%px;
  top: 15px;
  bottom: auto;
  left: -160px;
  z-index: 999;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  cursor: pointer;
  opacity: 0.75;
}

.slide:hover {
  left: 10px;
  opacity: 1;
}

.section {
  padding-right: 10px;
  margin-bottom: 30px;
  text-align: left;
  border-radius: 16px;
  color: #ddd;
  border: 0px dotted rgba(255, 255, 255, 0.5);
}

.sectionBottomFollow {
  position: absolute;
  width: 90%;
  left: 7%;
  bottom: 10px;
  border: 0px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

.sectionBottomLikes {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 20px;
  border: 0px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  transition: 0.5s;
}

.sectionTop {
  position: absolute;
  width: 100%;
  top: 40px;
  border: 0px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

.fb-share-button {
  top: -6px;
}

.shareAndTweet {
  position: absolute;
  width: 50%;
  margin-left: 25%;
  bottom: 200px;
  border: 0px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

.sectionLast {
  color: #fff;
  margin: 0px;
  padding: 15px 10% 15px 10%;
  text-align: center;
  font-size: 13px;
  line-height: 1.4em;
  opacity: 0.5;
}

h1 {
  margin: 0 0 0 0;
  text-align: left;
  font-size: 26px;
  line-height: 1.1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

h2 {
  margin: 0 0 0 0;
  padding: 10px 0px 0px 0px;
  text-align: left;
  font-size: 20px;
}

.highlight {
  color: #fff;
  text-decoration: bold;
}

p {
  padding: 5px 0 5px 0;
}

a {
  color: #eee;
}

a:hover {
  color: #fff;
}

.testimonial {
  font-family: "Handlee";
  font-size: 17px;
}

ul {
  padding-left: 20px;
}

li {
  padding: 5px 0em 15px 0em;
  text-align: left;
}

.lowlight {
  opacity: 0.6;
}

.ctrlImg {
  height: 16px;
  width: 16px;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  opacity: 0.7;
  padding: 6px;
  border-width: 2px;
  border-radius: 64px;
  border-style: solid;
  border-color: #fff;
  vertical-align: middle;
}

.ctrlImg:hover {
  opacity: 1;
}

.ctrlImg:active {
  opacity: 0.5;
}

.ctrlOn {
  background-color: #86a;
}

#remainingTime {
  color: #a8c;
  font-size: 13px;
  font-weight: bold;
}

.lvlImg {
  height: 32px;
  width: 32px;
  opacity: 0.75;
  vertical-align: middle;
}

#msg {
  padding: 3vh 10% 10px 10%;
  z-index: 2;
  opacity: 0.7;
  line-height: 1.2em;
}

form {
  text-align: left;
}

#radioTouch {
  position: fixed;
  width: 256px;
  height: 256px;
  top: 75px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-image: url("/Pix/tap.png");
  background-size: 256px;
  background-repeat: no-repeat;
  display: none;
  z-index: 99;
}

.sliderGroup {
  width: 280px;
  margin: 10px auto 20px auto;
}

.ui-slider-horizontal {
  height: 2px;
  opacity: 0.9;
  border: solid 0px white;
  z-index: 10;
}

.ui-slider-horizontal:hover {
  opacity: 1;
}

.ui-slider .ui-slider-handle {
  margin-top: -6px;
  margin-left: -11px;
  height: 20px;
  width: 20px;
  border: solid 2px #fff;
  border-radius: 16px;
  background: #546;
  cursor: pointer;
  outline: none;
}

table.payments td {
  text-align: left;
  padding: 3px 10px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

#EUnotice {
  color: #888;
}

#paymentOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  color: #0ff;
  background-color: rgba(32, 32, 32, 0.9);
  z-index: 999999;
}

.stripeButton {
  margin: 5px 0 0 0;
}

/* The overlayNav (background) */
.overlayNav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 199 !important;
  left: -100%;
  top: 0;
  background: rgb(80, 65, 95);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(80, 65, 95, 1) 0%,
    rgba(35, 20, 50, 1) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(80, 65, 95, 1) 0%,
    rgba(35, 20, 50, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(80, 65, 95, 1) 0%,
    rgba(35, 20, 50, 1) 100%
  );
  overflow-x: hidden;
  transition: 0.5s;
  opacity: 1;
}

.overlayFsBg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 198 !important;
  right: -100%;
  top: 0;
  background: #000;
  overflow-x: hidden;
  transition: background-color 2000ms, right 500ms;
  opacity: 1;
  box-shadow: inset 0 0 20vh #000;
}

.overlayFsBreathe {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 199 !important;
  right: -100%;
  top: 0;
  background: #324;
  overflow-x: hidden;
  transition: opacity 2000ms, right 500ms;
  opacity: 1;
  box-shadow: inset 0 0 50vh #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  filter: saturate(200%) sepia(50%) hue-rotate(0deg);
}

.navCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0px;
  width: 80%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border: 0px dotted #f00;
}

.navLink {
  padding: 1vh;
  font-size: 22px;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  line-height: 1.3em;
}

.navLink:hover {
  opacity: 1;
}

.navLinkSmaller {
  font-size: 18px;
  font-style: italic;
}

img.paypal {
  opacity: 0.8;
  cursor: pointer;
  vertical-align: middle;
  padding: 0.25em;
}

img.paypal:hover {
  opacity: 1;
}

table.models {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
  border: 0px solid #000;
}

table.models td {
  vertical-align: middle;
  padding: 3px 10px;
  min-width: 60px;
}

@media screen and (max-height: 560px) {
  body {
    font-size: 15px;
  }
  #subtitle {
    display: none;
  }
  .shareAndTweet {
    display: none;
  }
}

@media screen and (max-height: 520px) {
  .sliderGroup {
    width: 260px;
    margin: 5px auto 10px auto;
  }
  .ctrlImg {
    height: 14px;
    width: 14px;
    padding: 4px;
  }
  #title {
    opacity: 1;
    padding-top: 2vh;
    letter-spacing: 3px;
    line-height: 20px;
    font-size: 36px;
    color: #fff;
  }
  .ctrSection {
    padding-top: 5vh;
    padding-bottom: 1vh;
  }
  #msg {
    padding: 6vh 10% 10px 10%;
  }
}

@media screen and (max-height: 460px) {
  .navLink {
    font-size: 16px;
    line-height: 1.2em;
  }
}

@media screen and (max-height: 480px) {
  .sectionBottomFollow {
    display: none;
  }
}
