.post-cloudchewieGPT {
  background: var(--card-bg);
  border-radius: 12px;
  padding: 12px;
  line-height: 1.3;
  border: var(--card-border);
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .post-cloudchewieGPT {
    margin-top: 22px;
  }
}

.cloudchewieGPT-title {
  display: flex;
  color: var(--theme-color);
  border-radius: 8px;
  align-items: center;
  padding: 0 12px;
  cursor: default;
  user-select: none;
}

.cloudchewieGPT-title-text {
  font-weight: bold;
  margin-left: 8px;
  line-height: 1;
  align-self: center;
  text-align: center;
  vertical-align: middle;
}

.cloudchewieGPT-explanation {
  margin-top: 12px;
  padding: 8px 12px;
  background: var(--card-bg);
  border-radius: 8px;
  border: var(--card-border);
  font-size: 15px;
  line-height: 1.4;
  display: flex;
}

.cloudchewieGPT-suggestions {
  display: flex;
  flex-wrap: wrap;
}

.cloudchewieGPT-suggestions .cloudchewieGPT-suggestions-item {
  margin-top: 12px;
  padding: 8px 12px;
  background: var(--card-bg);
  border-radius: 8px 8px 8px 0;
  border: var(--card-border);
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  width: fit-content;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.cloudchewieGPT-suggestions .cloudchewieGPT-suggestions-item:hover {
  background: var(--theme-color);
  color: var(--white);
}

.blinking-cursor {
  background-color: var(--theme-color);
  width: 10px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  animation: blinking-cursor 0.5s infinite;
  -webkit-animation: blinking-cursor 0.5s infinite;
  margin-left: 4px;
}
[data-theme="dark"] .blinking-cursor {
  background-color: var(--text-bg-hover);
}
@keyframes blinking-cursor {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cloudchewieGPT-tag {
  font-size: 12px;
  background-color: var(--theme-color);
  color: var(--white);
  font-weight: bold;
  border-radius: 4px;
  margin-left: auto;
  line-height: 1;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

[data-theme="dark"] .cloudchewieGPT-tag {
  background-color: var(--text-bg-hover);
}

#cloudchewieGPT-Toggle {
  font-size: 12px;
  background: var(--theme-color);
  color: var(--card-bg);
  padding: 4px;
  border-radius: 4px;
  margin-left: 6px;
  transform: scale(0.8);
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

#cloudchewieGPT-Toggle:hover {
  background: var(--font-color);
  color: var(--card-bg);
}

.cloudchewieGPT-title-icon {
  width: 20px;
  height: 20px;
}

.cloudchewieGPT-title-icon svg {
  width: 20px;
  height: 20px;
  fill: var(--font-color);
}
[data-theme="light"] .cloudchewieGPT-title-icon svg path,
[data-theme="light"] .cloudchewieGPT-title-text {
  fill: var(--theme-color) !important;
  color: var(--theme-color) !important;
}

[data-theme="dark"] .cloudchewieGPT-title-icon svg path,
[data-theme="dark"] .cloudchewieGPT-title-text {
  fill: var(--font-color) !important;
  color: var(--font-color) !important;
}
