@font-face {
  font-family: "iconfont";
  src: url("https://cdn.jsdelivr.net/gh/Robert-Stackflow/robert-stackflow.github.io@master/fonts/iconfont.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/Robert-Stackflow/robert-stackflow.github.io@master/fonts/iconfont.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/Robert-Stackflow/robert-stackflow.github.io@master/fonts/iconfont.ttf")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-danmu:before {
  content: "\e612";
}

.icon-jianti:before {
  content: "\e6d7";
}
