@font-face {
  font-family: "iconfont";
  src: url("/fonts/iconfont.woff2") format("woff2"),
    url("/fonts/iconfont.woff") format("woff"),
    url("/fonts/iconfont.ttf") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont::before {
  font-size: 23px !important;
}

.icon-danmu:before {
  content: "\e612";
}

.icon-jianti:before {
  content: "\e6d7";
}

.icon-fanti:before {
  content: "\e6d8";
}

/* 网页 */
[data-theme="light"] #web_bg {
  /* background: url(http://cloudchewie.com/img/img-index.jpeg); */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
  /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
  background: #f2f6fc;
}
/* 页脚 */
#footer {
  background: transparent;
  mix-blend-mode: difference;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* 页首*/
#nav {
  box-shadow: none !important;
}
[data-theme="light"] #page-header #nav {
  background: transparent;
}
[data-theme="light"] .nav-fixed #nav {
  background: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(50px);
  color: black !important;
}
[data-theme="dark"] .nav-fixed #nav {
  background: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(50px);
}
[data-theme="light"] .nav-fixed #nav a {
  color: black !important;
}
[data-theme="dark"] #pagination > div > a.page-number {
  color: var(--btn-color) !important;
}
[data-theme="dark"] #pagination > div > a.extend.next {
  color: var(--btn-color) !important;
}
.nav-fixed #nav .site-page:hover {
  color: #fff !important;
}
.search-dialog {
  background: var(--card-bg);
  border: var(--card-border);
  backdrop-filter: blur(10px);
}
#search-mask,
#console-mask {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transform: translateZ(0);
  background: var(--heo-maskbgdeep);
  position: fixed;
  inset: 0px;
  z-index: 1000;
}
#algolia-hits-empty {
  color: var(--font-color);
}
.search-dialog-title {
  color: var(--font-color);
}
.algolia-poweredBy {
  visibility: hidden;
}
.algolia-hit-item-link {
  color: var(--font-color) !important;
  font-weight: bold;
}
.algolia-hit-item-link:hover {
  color: var(--theme-color) !important;
}
.ais-Hits-list {
  color: var(--font-color);
}
.ais-SearchBox-loadingIndicator {
  visibility: hidden;
}
.ais-Stats-text,
.ais-Pagination-link {
  color: var(--font-color) !important;
}
.ais-Pagination-link:hover {
  color: var(--theme-color) !important;
}
.search-close-button {
  color: var(--font-color) !important;
}
#algolia-search
  .search-dialog
  .ais-Pagination
  .ais-Pagination-item--selected
  a {
  color: #fff !important;
}
/* 轮播 */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--theme-color) !important;
}
.snackbar-container {
  font-family: LXGW WenKai;
  text-align: center;
}
.swiper-pagination-bullet:hover {
  background-color: #0099ff !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0099ff !important;
}
#aside-content .card-tag-cloud a:hover {
  background-color: #0099ff;
  color: #fff !important;
}
/* 导航栏居中 */
#nav .menus_items {
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}
/* 站名悬浮*/
#site-name::before {
  opacity: 0;
  background-color: var(--theme-color) !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  width: 100%;
  height: 100%;
  content: "\f015";
  font-family: "Font Awesome 6 Free";
  text-align: center;
  color: white;
  line-height: 36.4px;
  font-size: 16px;
}
#site-name:hover::before {
  opacity: 1;
  scale: 1.03;
}
#site-name {
  position: relative;
  font-size: 24px;
}
/* 固定顶栏 */
/* .nav-fixed #nav{
  transform: translateY(58px)!important;
  -webkit-transform: translateY(58px)!important;
  -moz-transform: translateY(58px)!important;
  -ms-transform: translateY(58px)!important;
  -o-transform: translateY(58px)!important;
}
#nav{
  transition: none!important;
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -ms-transition: none!important;
  -o-transition: none!important;
} */
/* 导航栏按钮 */
#nav *::after {
  background-color: transparent !important;
}
.site-page:hover {
  background-color: #0099ff;
  box-shadow: 0 0 1px #0099ff !important;
  border-radius: 5px;
  color: #fff !important;
}
/* 导航栏横向 */
.menus_item_child li:not(#sidebar-menus li) {
  float: left;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}
[data-theme="light"] .menus_item_child {
  box-shadow: var(--card-box-shadow);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(50px);
}
@media screen and (max-width: 950px) {
  .menus_item_child {
    box-shadow: none !important;
    background: none !important;
    backdrop-filter: none !important;
  }
}
/* 导航栏子列表 */
.menus_item_child li {
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  margin-right: 5px !important;
}
.menus_item_child li:hover {
  color: #fff !important;
}
.menus_item_child:not(#sidebar-menus ul) {
  left: 50%;
  translate: -50%;
}
#toggle-menu > a {
  padding: 8px !important;
}
#page-header:not(.not-home-page)::before {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
}
#page-header #post-info {
  text-align: center !important;
  bottom: 130px !important;
}
.cards2 {
  display: flex;
  margin-top: 10px;
  width: 100%;
  align-items: stretch;
  height: auto;
}
@media screen and (max-width: 768px) {
  .cards2 {
    padding: 20px 5px;
  }
}
.top {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.gc {
  margin-right: 10px !important;
}
@media screen and (max-width: 900px) {
  .cards2 {
    flex-wrap: wrap;
  }
  .fl,
  .gc {
    width: 100% !important;
  }
  .gc {
    margin-right: 0 !important;
  }
}
.fl {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-left: 10px;
  margin-top: 10px;
  max-height: 270px;
  min-height: 270px;
}
.gc {
  display: flex;
  width: 50%;
  max-height: 270px;
  margin-top: 10px;
  min-height: 270px;
}
.gc > .recent-post-item {
  width: 60% !important;
}
.gc > .recent-post-item {
  flex: 1 1 auto;
}
.gc {
  -webkit-text-size-adjust: 100%;
  color: var(--font-color);
  font-size: var(--global-font-size);
  font-family: LXGW WenKai;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(50px);
}
.fl {
  color: var(--font-color);
  font-size: var(--global-font-size);
  line-height: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 270px;
  margin-left: 0 !important;
  backdrop-filter: blur(30px) saturate(180%);
  border-radius: 10px;
  transition: all 0.5s;
}
.gc,
.fl {
  box-shadow: var(--card-box-shadow);
  background: var(--card-bg) !important;
}

li.categoryBar-list-item {
  height: 115px !important;
  padding-top: 10px !important;
}
#gitcalendar {
  padding: 0 !important;
}
#gitcalendar {
  border: none !important;
}
.fl,
.gc > .recent-post-item {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
#algolia-search > div.search-dialog > nav > button > i {
  color: var(--font-color) !important;
}
#algolia-pagination
  > div
  > ul
  > li.ais-Pagination-item.ais-Pagination-item--page.ais-Pagination-item--selected
  > a {
  border-radius: 3px !important;
}
.layout {
  max-width: 1450px !important;
}
@media screen and (min-width: 1200px) {
  #recent-posts {
    margin-top: -1rem; /*头部为空时抵消间隔，若有磁贴或日历请注释掉该行*/
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap; /*规定灵活的项目在必要的时候拆行或拆列。*/
    justify-content: space-between; /*。*/
  }
  #recent-posts > .recent-post-item:not(.latest) {
    /*max-height:324px;*/ /*文章容器最大高度*/
    margin-top: 1rem; /*最小间距*/
    display: inline-block;
    height: auto; /*高度自动*/
    width: 49%; /*文章容器容器宽度*/
  }
  #recent-posts > .recent-post-item:not(.latest) .post_cover {
    width: 100%; /*图片封面宽度*/
    height: 200px; /*图片封面高度*/
  }
  #recent-posts > .recent-post-item:not(.latest) .post_cover img.post_bg {
    width: 100%; /*图片宽度*/
    height: 100%; /*图片高度*/
  }

  .article-meta__categories:not(
      #category .article-meta__categories,
      #tag .article-meta__categories,
      #archive .article-meta__categories
    ) {
    position: absolute;
    top: 10px;
    color: white !important;
    padding: 0 15px;
    background-color: var(--lyx-black-acrylic3);
    border-radius: 12px;
    right: 15px;
    text-decoration: none !important;
  }
  .article-meta__categories:not(
      #category .article-meta__categories,
      #tag .article-meta__categories,
      #archive .article-meta__categories
    ):hover {
    background-color: var(--theme-color);
  }
  #recent-posts > .recent-post-item:not(.latest) {
    -webkit-flex-direction: column; /*容器内部纵向排列*/
    -ms-flex-direction: column; /*容器内部纵向排列*/
    flex-direction: column; /*容器内部纵向排列*/
  }
  #recent-posts > .recent-post-item:not(.latest) .left_radius {
    border-radius: 12px 8px 0 0; /*圆角修改*/
  }
  #recent-posts > .recent-post-item:not(.latest) .right_radius {
    border-radius: 12px 8px 0 0; /*圆角修改*/
  }
  .recent-post-item:not(.latest) {
    height: auto !important; /*容器高度自动*/
  }

  .recent-post-info {
    padding: 0 40px; /*容器内部文字左右间距*/
    margin-top: 1em; /*容器内部文字上间距*/
    width: 100% !important; /*容器宽度*/
  }
  #recent-posts
    > .recent-post-item:not(.latest)
    > .recent-post-info
    > .article-title {
    -webkit-line-clamp: 1; /*控制标题的行数*/
    margin-top: 0.3rem; /*控制标题的上间距*/
    margin-bottom: 0.3rem; /*控制标题的下间距*/
    /* color: var(--text-highlight-color); */
    font-size: 1.2em; /*控制标题的字体大小*/
    line-height: 1.4; /*控制标题的行高*/
  }
  #recent-posts
    > .recent-post-item:not(.latest)
    > .recent-post-info
    > .article-title
    :hover {
    color: var(--lyx-theme);
  }
  #recent-posts
    > .recent-post-item:not(.latest)
    > .recent-post-info
    > .article-meta-wrap {
    margin-bottom: 1rem; /*控制标题meta信息的底部间距*/
  }
}
#categoryBar {
  overflow: hidden;
}
#categoryBar {
  padding-bottom: 10px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
}
#categoryBar::-webkit-scrollbar {
  width: 0 !important;
}
@media screen and (max-width: 900px) {
  .contrib-column {
    display: none !important;
  }
  .gc {
    display: none !important;
  }
}
.contrib-column {
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}
.contrib-column-first {
  border-left: 0;
}
.transparentpage {
  background: transparent !important;
  box-shadow: none !important;
}
#page > h1 {
  text-align: center;
}
@media screen and (max-width: 900px) {
  #post,
  #recent-posts {
    margin-top: 20px;
  }
}
#rightside-button-list > button.checked {
  background: #46c868 !important;
}
.con-rightside.checked {
  background: var(--theme-color) !important;
  color: white !important;
}
#card-toc {
  box-shadow: var(--card-box-shadow) !important;
  border: var(--card-border) !important;
  background: var(--card-bg);
  backdrop-filter: blur(20px) saturate(180%) !important;
}
.loading-bg {
  backdrop-filter: blur(20px) saturate(180%) !important;
  background: var(--card-bg) !important;
}
