@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff2") format("woff2"),
    url("../fonts/iconfont.woff") format("woff"),
    url("../fonts/iconfont.ttf") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-danmu:before {
  content: "\e612";
}
.icon-jianti:before {
  content: "\e6d7";
}
#love-button > a > i {
  color: red !important;
}
#love-button:hover > a > i {
  color: rgba(255, 0, 0, 0.6) !important;
}
#love-button:hover > a {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.icon-fanti:before {
  content: "\e6d8";
}
@media screen and (max-width: 768px) {
  #post {
    background: var(--global-bg) !important;
    border: none;
  }
  #body-wrap .layout {
    padding: 0;
  }
  .layout > div:first-child:not(.recent-posts) {
    border-radius: 12px 12px 0 0;
  }
  .layout > div:first-child:not(.recent-posts) {
    z-index: 10;
    margin-top: -30px;
  }
  .layout > div:first-child:not(.recent-posts) {
    padding: 1rem 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: var(--global-bg);
  }
  .main-hero-waves-area {
    display: none;
    visibility: hidden;
  }
}
#page-header #nav #nav-right .nav-button.long,
#page-header #nav #nav-right .nav-button.long a.totopbtn,
#page-header #nav #nav-right .nav-button.long a.totopbtn span {
  width: 70px;
}
.social-share .icon-wechat .wechat-qrcode h4,
.social-share .icon-wechat .wechat-qrcode .help p {
  font-family: LXGW Wenkai !important;
}
.social-share .icon-wechat .wechat-qrcode h4 {
  color: var(--font-color) !important;
  background: none !important;
}
.social-share .icon-wechat .wechat-qrcode {
  display: none;
  border: var(--card-border) !important;
  border-radius: 8px;
  position: absolute;
  z-index: 9;
  top: -205px;
  left: -84px;
  width: 200px;
  height: 192px;
  color: #666;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  box-shadow: var(--card-hover-box-shadow) !important;
  transition: all 200ms;
  -webkit-tansition: all 350ms;
  -moz-transition: all 350ms;
}
/* 网页 */
[data-theme="light"] #web_bg {
  background-repeat: no-repeat;
  background-size: cover;
  background: #f2f6fc;
}
/* 页脚 */
#footer {
  background: transparent;
  mix-blend-mode: difference;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* 页首*/
#nav {
  box-shadow: none !important;
}
.nav-fixed:not(.nav-top) #nav {
  box-shadow: var(--card-box-shadow) !important;
  border-bottom: var(--card-border) !important;
}
[data-theme="light"] #page-header #nav {
  background: transparent;
}
[data-theme="light"] .nav-fixed #nav {
  background: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(50px);
  color: var(--font-color) !important;
}
[data-theme="dark"] .nav-fixed #nav {
  background: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(50px);
}
[data-theme="light"] .nav-fixed #nav a {
  color: var(--font-color) !important;
}
[data-theme="dark"] #pagination > div > a.page-number {
  color: var(--btn-color) !important;
}
[data-theme="dark"] #pagination > div > a.extend.next {
  color: var(--btn-color) !important;
}
.nav-fixed #nav .site-page:hover {
  color: #fff !important;
}
.nav-fixed.nav-top #nav {
  background: none !important;
  background-color: transparent !important;
}
[data-theme="dark"] #nav .back-home-button i {
  color: var(--font-color) !important;
}
[data-theme="light"] .nav-fixed.nav-top.not-top-img #nav a,
[data-theme="light"] .nav-fixed.nav-top.not-top-img #nav .back-home-button i {
  color: var(--font-color) !important;
}
[data-theme="light"]
  .nav-fixed.nav-top:not(.not-top-img)
  #nav
  a:not(.site-page.child),
[data-theme="light"]
  .nav-fixed.nav-top:not(.not-top-img)
  #nav
  .back-home-button
  i {
  color: #fff !important;
}
[data-theme="light"] .not-top-img.nav-fixed.nav-top #nav a:hover,
[data-theme="light"] .nav-fixed.nav-top #nav .back-home-button:hover i {
  color: #fff !important;
}
.search-dialog {
  background: var(--card-bg);
  border: var(--card-border);
  backdrop-filter: blur(10px);
}
#search-mask,
#console-mask {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transform: translateZ(0);
  position: fixed;
  inset: 0px;
  z-index: 1000;
}
[data-theme="light"] #search-mask,
[data-theme="light"] #console-mask {
  background: rgba(255, 255, 255, 0.85);
}
#algolia-hits-empty {
  color: var(--font-color);
}
.search-dialog-title {
  color: var(--font-color);
}
.algolia-poweredBy {
  visibility: hidden;
}
.algolia-hit-item-link {
  color: var(--font-color) !important;
  font-weight: bold;
}
.algolia-hit-item-link:hover {
  color: var(--theme-color) !important;
}
.ais-Hits-list {
  color: var(--font-color);
}
.ais-SearchBox-loadingIndicator {
  visibility: hidden;
}
.ais-Stats-text,
.ais-Pagination-link {
  color: var(--font-color) !important;
}
.ais-Pagination-link:hover {
  color: var(--theme-color) !important;
}
.search-close-button {
  color: var(--font-color) !important;
}
#algolia-search
  .search-dialog
  .ais-Pagination
  .ais-Pagination-item--selected
  a {
  color: #fff !important;
}
/* 轮播 */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--theme-color) !important;
}
.snackbar {
  background-color: var(--theme-color);
}
.snackbar-container {
  font-family: LXGW WenKai;
  text-align: center;
}
blockquote {
  font-family: LXGW WenKai;
}
.swiper-pagination-bullet:hover {
  background-color: var(--theme-color) !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--theme-color) !important;
}
#aside-content .card-tag-cloud a:hover {
  background-color: var(--theme-color);
  color: #fff !important;
}
/* 导航栏居中 */
/* #nav .menus_items {
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
} */
#page-header #nav #nav-group {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
#menus,
#name-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}
/* 站名悬浮*/
#site-name::before {
  opacity: 0;
  background-color: var(--theme-color) !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  width: 100%;
  height: fit-content;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  content: "\f015";
  font-family: "Font Awesome 6 Free";
  text-align: center;
  color: white;
  line-height: 36.4px;
  font-size: 16px;
}
#site-name:hover::before {
  opacity: 1;
  scale: 1.03;
}
#blog-name {
  display: flex;
  z-index: 102;
  flex-wrap: nowrap;
  align-items: center;
  width: fit-content;
}
#site-name {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  width: fit-content;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  z-index: 101;
}
/* 固定顶栏 */
/* .nav-fixed #nav{
  transform: translateY(58px)!important;
  -webkit-transform: translateY(58px)!important;
  -moz-transform: translateY(58px)!important;
  -ms-transform: translateY(58px)!important;
  -o-transform: translateY(58px)!important;
}
#nav{
  transition: none!important;
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -ms-transition: none!important;
  -o-transition: none!important;
} */
/* 导航栏按钮 */
#nav *::after {
  background-color: transparent !important;
}
.site-page.child:hover,
.site-page.social-icon:hover {
  background-color: var(--theme-color);
  box-shadow: 0 0 1px var(--theme-color) !important;
  border-radius: 100px;
  color: #fff !important;
}
.menus_item_child:not(#sidebar-menus ul) {
  left: -127px;
}
#nav .menus_items .menus_item .menus_item_child li a:hover {
  padding: 0.125rem 1.25rem;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -o-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
}
.site-page.child:has(i.fa-heart) {
  background-color: red !important;
  border: none !important;
  color: #fff !important;
  display: none !important;
}
@media screen and (max-width: 768px) {
  .site-page.child:has(i.fa-heart) {
    display: flex !important;
  }
}
/* .menus_item_child li:not(#sidebar-menus li) {
  float: left;
}
#nav .menus_items .menus_item .menus_item_child li a {
  border-radius: 100px !important;
}
#nav .menus_items .menus_item .menus_item_child li a:hover {
  color: var(--white) !important;
  box-shadow: var(--card-box-shadow);
  margin: 0 auto;
  transform: scale(1) !important;
  padding: 0.3rem 1rem;
}
.nav-fixed.nav-top #nav .menus_items .menus_item .menus_item_child li a {
  color: var(--font-color) !important;
}
.nav-fixed.nav-top #nav .menus_items .menus_item .menus_item_child li:hover a {
  color: #fff !important;
}
[data-theme="light"] .menus_item_child {
  box-shadow: var(--card-box-shadow);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(50px);
}
@media screen and (max-width: 950px) {
  .menus_item_child {
    box-shadow: none !important;
    background: none !important;
    backdrop-filter: none !important;
  }
}
.menus_item_child li {
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  margin-right: 5px !important;
}
.menus_item_child li:hover {
  color: #fff !important;
}
 */
#toggle-menu > a {
  padding: 8px !important;
}
#page-header:not(.not-home-page)::before {
  backdrop-filter: blur(10px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(10px) saturate(180%) !important;
}
#page-header #post-info {
  text-align: center !important;
  bottom: 130px !important;
}
.cards2 {
  display: flex;
  margin-top: 10px;
  width: 100%;
  align-items: stretch;
  height: auto;
}
@media screen and (max-width: 768px) {
  .cards2 {
    padding: 0px 0px 0px 0px;
  }
}
.top {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
#pagination > div > a.extend.prev,
#textbtn {
  color: var(--font-color);
}
#pagination > div > a.extend.prev:hover,
#textbtn:hover {
  color: #fff;
}
.gc {
  margin-right: 10px !important;
}
@media screen and (max-width: 900px) {
  .cards2 {
    flex-wrap: wrap;
  }
  .fl,
  .gc {
    width: 100% !important;
  }
  .gc {
    margin-right: 0 !important;
  }
}
.fl {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-left: 10px;
  margin-top: 10px;
  max-height: 270px;
  min-height: 270px;
}
.gc {
  display: flex;
  width: 50%;
  max-height: 270px;
  margin-top: 10px;
  min-height: 270px;
}
.gc > .recent-post-item {
  width: 60% !important;
}
.gc > .recent-post-item {
  flex: 1 1 auto;
}
.gc {
  -webkit-text-size-adjust: 100%;
  color: var(--font-color);
  font-size: var(--global-font-size);
  font-family: LXGW WenKai;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(50px);
}
.fl {
  color: var(--font-color);
  font-size: var(--global-font-size);
  line-height: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 270px;
  margin-left: 0 !important;
  backdrop-filter: blur(30px) saturate(180%);
  border-radius: 10px;
  transition: all 0.5s;
}
.gc,
.fl {
  box-shadow: var(--card-box-shadow);
  background: var(--card-bg) !important;
}
.gc:hover,
.fl:hover {
  box-shadow: var(--card-hover-box-shadow);
}
li.categoryBar-list-item {
  height: 115px !important;
  padding-top: 10px !important;
}
#gitcalendar {
  padding: 0 !important;
}
#gitcalendar {
  border: none !important;
}
.fl,
.gc > .recent-post-item {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
#algolia-search > div.search-dialog > nav > button > i {
  color: var(--font-color) !important;
}
#algolia-pagination
  > div
  > ul
  > li.ais-Pagination-item.ais-Pagination-item--page.ais-Pagination-item--selected
  > a {
  border-radius: 3px !important;
}
@media screen and (max-width: 500px) {
  #site-name {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  #recent-posts > .recent-post-item > .recent-post-info {
    padding: 0 40px 0;
  }
}
@media screen and (max-width: 768px) {
  #post .post-copyright {
    margin: 0;
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  #recent-posts {
    margin-top: -1rem; /*头部为空时抵消间隔，若有磁贴或日历请注释掉该行*/
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap; /*规定灵活的项目在必要的时候拆行或拆列。*/
    justify-content: space-between; /*。*/
  }
  #content-inner
    #recent-posts
    > .recent-post-item
    > .recent-post-info
    > .content {
    display: none;
  }
  #recent-posts > .recent-post-item {
    margin-top: 20px;
    display: inline-block;
    height: auto;
    width: 49%;
  }
  #recent-posts > .recent-post-item .post_cover {
    width: 100%;
    height: 200px;
  }
  #recent-posts > .recent-post-item .post_cover img.post_bg {
    width: 100%;
    height: 100%;
  }
  .article-meta__categories:not(
      #category .article-meta__categories,
      #tag .article-meta__categories,
      #archive .article-meta__categories
    ):hover {
    background-color: var(--theme-color);
  }
  #recent-posts > .recent-post-item {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #recent-posts > .recent-post-item .left_radius {
    border-radius: 12px 8px 0 0;
  }
  #recent-posts > .recent-post-item .right_radius {
    border-radius: 12px 8px 0 0;
  }
  .recent-post-item {
    height: auto !important;
  }

  .recent-post-info {
    padding: 0 40px;
    margin-top: 1em;
    width: 100% !important;
  }
  #recent-posts > .recent-post-item > .recent-post-info > .article-title {
    -webkit-line-clamp: 1;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  #recent-posts
    > .recent-post-item
    > .recent-post-info
    > .article-title
    :hover {
    color: var(--theme-color);
  }
  #recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap {
    margin-bottom: 1rem;
  }
}
#categoryBar {
  overflow: hidden;
}
#categoryBar {
  padding-bottom: 10px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
}
#categoryBar::-webkit-scrollbar {
  width: 0 !important;
}
@media screen and (max-width: 900px) {
  .contrib-column {
    display: none !important;
  }
  .gc {
    display: none !important;
  }
}
.contrib-column {
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}
.contrib-column-first {
  border-left: 0;
}
#page.transparentpage {
  border: none !important;
}
.transparentpage {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  padding: 0px 40px !important;
}
.transparentpage .page-title {
  display: none;
}
.fj-gallery a {
  background: none !important;
}
.fj-gallery img {
  display: inline !important;
}
div.fj-gallery > p > div > a > img {
  border-radius: 0px;
}
#page > h1 {
  text-align: center;
}
#rightside-button-list > button.checked {
  background: #46c868 !important;
}
#card-toc {
  box-shadow: var(--card-box-shadow) !important;
  border: var(--card-border) !important;
  background: var(--card-bg);
  backdrop-filter: blur(20px) saturate(180%) !important;
}
.loading-bg {
  backdrop-filter: blur(20px) saturate(180%) !important;
  background: var(--card-bg) !important;
}
/* #web_bg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 0.4);
  backdrop-filter: blur(10px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(10px) saturate(180%) !important;
} */
body {
  overflow: visible !important;
}
#article-container a:has(img):hover {
  text-decoration: none;
  border-radius: 5px;
  background: none !important;
  color: #fff;
}
#textbtn {
  cursor: pointer;
}
.layout > .recent-posts .pagination > *:not(.space) {
  border: var(--card-border) !important;
}
#pageNumInput:hover {
  background: var(--card-bg) !important;
  border-color: var(--theme-color) !important;
  color: #ddd;
  width: 70px;
}
#textnumer:hover {
  background: var(--card-bg) !important;
  border-color: var(--theme-color) !important;
  color: #ddd;
}
.layout #pageNumInput input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
#textnumer {
  outline: none !important;
  border: none !important;
  text-align: center;
}
#pagination {
  align-self: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 100%;
}
.pagination > * {
  display: inline-block;
}
#pagination .pagination {
  position: relative;
}
#pageNumInput {
  display: inline-flex;
  position: relative;
}
#pageNumInput:hover {
  background: 0 0;
  width: 70px;
  display: inline-flex;
  position: relative;
}
#pageNumInput:focus-within {
  width: 70px;
}
#pageNumInput:focus-within::after,
#pageNumInput:focus-within::before {
  display: block;
}
#pageNumInput::before {
  display: none;
  content: "回车跳转";
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: 0px;
  transform: translate(-50%, calc(-100% - 15px));
  line-height: 1;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 12px 16px;
  background: rgb(68, 68, 68);
}
#pageNumInput::after {
  display: none;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  border: 10px solid transparent;
  border-top-color: #444;
  -webkit-transform: translate(-50%, calc(-50% - 5px));
  -moz-transform: translate(-50%, calc(-50% - 5px));
  -o-transform: translate(-50%, calc(-50% - 5px));
  -ms-transform: translate(-50%, calc(-50% - 5px));
  transform: translate(-50%, calc(-50% - 5px));
}
.layout > div .pagination .next,
.layout > div .pagination .prev {
  width: 4rem !important;
  position: absolute;
  right: 0;
  margin: 0;
}
.layout > div .pagination .prev {
  left: 0;
}
.gc,
.fl,
.cardHover,
.error404 #error-wrap .error-content,
.layout > div:first-child:not(.recent-posts),
#recent-posts > .recent-post-item,
#aside-content .card-widget,
.layout > .recent-posts .pagination > *:not(.space) {
  border: var(--card-border) !important;
}
#page:has(#about-page) {
  border: none !important;
}
.avatar-img {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  background-size: cover;
  height: 160px;
  width: 100%;
  border-radius: 0;
  margin-top: 0px !important;
}
.card-info {
  padding: 0px 0px 24px 0px !important;
}
#aside-content
  > div.card-widget.card-info
  > div.card-info-data.site-data.is-center {
  padding: 0px 20px !important;
}
#card-info-btn {
  margin: 10px 20px !important;
}
#aside-content
  > div.card-widget.card-info
  > div.card-info-social-icons.is-center {
  margin: 0px 20px !important;
}
.avatar-img img {
  position: absolute;
  left: calc(50% - 55px);
  bottom: 0;
  object-fit: cover;
  z-index: 1;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px #fff solid;
}
body.read-mode .post-cloudchewieGPT,
body.read-mode .post-meta,
body.read-mode .aplayer,
body.read-mode .main-hero-waves-area.waves-area {
  display: none;
}
body.read-mode #post {
  padding: 20px 40px;
}
body.read-mode #page-header #post-info {
  bottom: 50px !important;
}
body.read-mode #page-header.post-bg {
  height: 200px !important;
}
