/* @font-face {
    font-family: 'LXGWWenKai-Regular';
    font-display: swap;
    src: url('/fonts/LXGWWenKai-Regular.ttf') format("truetype");
} */

/* 渐变色滚动动画 */

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

#footer {
  /* background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab); */
  background: transparent;
  mix-blend-mode: difference;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

#footer:before {
  background-color: rgba(0, 0, 0, 0);
}

/* 所有背景（包括首页卡片、文章页、页面页等） */

[data-theme="light"] #web_bg {
  /* 背景图像的地址（url括号里）  */
  /* background: url(http://cloudchewie.com/img/img-index.jpeg); */
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#rightside_config > i {
  animation-play-state: paused;
}

/* 设备名称常态隐藏，悬停评论时显示 */

.tk-extras {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.tk-content:hover + .tk-extras {
  -webkit-animation: tk-extras-fadeIn 0.5s linear;
  -moz-animation: tk-extras-fadeIn 0.5s linear;
  -o-animation: tk-extras-fadeIn 0.5s linear;
  -ms-animation: tk-extras-fadeIn 0.5s linear;
  animation: tk-extras-fadeIn 0.5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-moz-keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-webkit-keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-o-keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

div.tk-row.actions > div > div:nth-child(2) {
  visibility: hidden;
}

div.tk-submit > div.tk-row.actions > a {
  visibility: hidden;
}

.algolia-poweredBy {
  visibility: hidden;
}

.el-textarea__inner {
  min-height: 200px !important;
}

/* 分类目录条、标签目录条 */

/* $main: #1677B3 $second: #fff $1px solid rgba(150, 150, 150, 0.2): 1px solid rgba(150, 150, 150, 0.2);
$light-text: #24B1FF $border-radius: .5rem*/

/*单个分类*/

.page #category .category-list-bar,
#tag .tag-list-bar {
  width: 100%;
  height: 40px;
  background-color: var(--kk-card-bg);
  border-radius: 0.5rem;
  line-height: 40px;
  display: flex;
  border: 1px solid #eef4f7;
  backdrop-filter: blur(40px);
  margin-bottom: 10px;
}

[data-theme="dark"] .page #category .category-list-bar,
[data-theme="dark"] #tag .tag-list-bar {
  border: 1px solid #eef4f7;
  transition: 1s;
}

.page #category .category-list-bar:hover,
#tag .tag-list-bar:hover {
  border: 1px solid #0099ff;
  transition: 1s;
}

.page #category .category-list-bar .fas,
#tag .tag-list-bar .fas {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.page #category .category-list-bar .lists,
#tag .tag-list-bar .lists {
  width: calc(100%);
  overflow: scroll;
}

.page #category .category-list-bar .lists::-webkit-scrollbar,
#tag .tag-list-bar .lists::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.page #category .category-list-bar .lists ul,
#tag .tag-list-bar .lists ul {
  width: max-content;
  height: 40px;
  display: flex;
  margin: 0px;
  align-items: center;
  list-style-type: none;
}

.page #category .category-list-bar .lists .category-list .category-list-item,
#tag .tag-list-bar .lists ul a {
  padding: 0 0.4rem;
  margin: 0 0.3rem;
  height: 2rem;
  line-height: 2rem;
  /*background: #fff;*/
  border-radius: 0.4rem;
  transition: 0.2s;
  transition: 1s;
}

.page
  #category
  .category-list-bar
  .lists
  .category-list
  .category-list-item:hover,
.page
  #category
  .category-list-bar
  .lists
  .category-list
  .category-list-item.checked,
#tag .tag-list-bar .lists ul a:hover,
#tag .tag-list-bar .lists ul a.checked {
  background-color: #425aef;
  color: white !important;
  transition: 1s;
}

.page
  #category
  .category-list-bar
  .lists
  .category-list
  .category-list-item:hover
  a,
.page
  #category
  .category-list-bar
  .lists
  .category-list
  .category-list-item.checked
  a {
  color: white !important;
}

.page
  #category
  .category-list-bar
  .lists
  .category-list
  .category-list-item
  span {
  display: none;
}

#page-header.not-top-img #nav {
  box-shadow: none;
}

#twikoo > div.tk-footer {
  visibility: visible;
}

.download-list-item {
  -webkit-text-size-adjust: 100%;
  --global-font-size: 14px;
  --global-bg: #fff;
  --font-color: #4c4948;
  --hr-border: #a4d8fa;
  --hr-before-color: #80c8f8;
  --search-bg: #f6f8fa;
  --search-input-color: #4c4948;
  --search-result-title: #4c4948;
  --preloader-bg: #37474f;
  --preloader-color: #fff;
  --tab-border-color: #f0f0f0;
  --tab-botton-bg: #f0f0f0;
  --tab-botton-color: #1f2d3d;
  --tab-button-hover-bg: #dcdcdc;
  --tab-button-active-bg: #fff;
  --card-bg: #fff;
  --sidebar-bg: #f6f8fa;
  --btn-hover-color: #24b1ff;
  --btn-color: #fff;
  --btn-bg: #0099ff;
  --text-bg-hover: #0099ff;
  --light-grey: #eee;
  --dark-grey: #cacaca;
  --white: #fff;
  --text-highlight-color: #1f2d3d;
  --blockquote-color: #6a737d;
  --blockquote-bg: rgba(73, 177, 245, 0.1);
  --reward-pop: #f5f5f5;
  --toc-link-color: #666261;
  --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
  --pseudo-hover: #24b1ff;
  --headline-presudo: #a0a0a0;
  --scrollbar-color: #0099ff;
  --hl-color: #a6accd;
  --hl-bg: #292d3e;
  --hltools-bg: #252938;
  --hltools-color: #a6accd;
  --hlnumber-bg: #292d3e;
  --hlnumber-color: rgba(166, 172, 205, 0.5);
  --hlscrollbar-bg: #393f57;
  --hlexpand-bg: linear-gradient(
    180deg,
    rgba(41, 45, 62, 0.6),
    rgba(41, 45, 62, 0.9)
  );
  --km-global-bg: rgba(250, 250, 250, 0.95);
  --km-link-bg: #0084ff;
  --km-link-underline: #3599d9;
  --km-button-dark-hover: #0084ff;
  --km-button-dark-bg: #6cf;
  --km-button-light-active: #6cf;
  --km-button-font: #fff;
  --km-button-shadow: rgba(56, 56, 56, 0.2);
  --km-toc-active: rgba(226, 203, 255, 0.6);
  --km-toc-active-font: #000;
  --km-toc-hover: rgba(226, 203, 255, 0.4);
  --km-card-bg: rgba(102, 204, 255, 0.204);
  --km-general-shadow: #546e7a;
  --km-tab-border: #e3e4e6;
  --km-tab-active: #f1f2ff;
  --km-tab-hover: #d1efff;
  --km-tab-overline: #0084ff;
  --km-text-select: rgba(0, 132, 255, 0.502);
  --km-float-win-bg: #f5f5f5;
  --km-globle-font: #000;
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
  color: var(--font-color);
  font-size: var(--global-font-size);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Lato, Roboto, "PingFang SC", "Microsoft YaHei", sans-serif;
  line-height: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-wrap: break-word;
  box-sizing: border-box;
  margin-bottom: 0 !important;
  margin: 0 0 20px;
  text-align: center;
}

.download-list-item-button {
  border-radius: 8px;
  -webkit-text-size-adjust: 100%;
  --global-font-size: 14px;
  --global-bg: #fff;
  --font-color: #4c4948;
  --hr-border: #a4d8fa;
  --hr-before-color: #80c8f8;
  --search-bg: #f6f8fa;
  --search-input-color: #4c4948;
  --search-result-title: #4c4948;
  --preloader-bg: #37474f;
  --preloader-color: #fff;
  --tab-border-color: #f0f0f0;
  --tab-botton-bg: #f0f0f0;
  --tab-botton-color: #1f2d3d;
  --tab-button-hover-bg: #dcdcdc;
  --tab-button-active-bg: #fff;
  --card-bg: #fff;
  --sidebar-bg: #f6f8fa;
  --btn-hover-color: #24b1ff;
  --btn-color: #fff;
  --btn-bg: #0099ff;
  --text-bg-hover: #0099ff;
  --light-grey: #eee;
  --dark-grey: #cacaca;
  --white: #fff;
  --text-highlight-color: #1f2d3d;
  --blockquote-color: #6a737d;
  --blockquote-bg: rgba(73, 177, 245, 0.1);
  --reward-pop: #f5f5f5;
  --toc-link-color: #666261;
  --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
  --pseudo-hover: #24b1ff;
  --headline-presudo: #a0a0a0;
  --scrollbar-color: #0099ff;
  --hl-color: #a6accd;
  --hl-bg: #292d3e;
  --hltools-bg: #252938;
  --hltools-color: #a6accd;
  --hlnumber-bg: #292d3e;
  --hlnumber-color: rgba(166, 172, 205, 0.5);
  --hlscrollbar-bg: #393f57;
  --hlexpand-bg: linear-gradient(
    180deg,
    rgba(41, 45, 62, 0.6),
    rgba(41, 45, 62, 0.9)
  );
  --km-global-bg: rgba(250, 250, 250, 0.95);
  --km-link-bg: #0084ff;
  --km-link-underline: #3599d9;
  --km-button-dark-hover: #0084ff;
  --km-button-dark-bg: #6cf;
  --km-button-light-active: #6cf;
  --km-button-font: #fff;
  --km-button-shadow: rgba(56, 56, 56, 0.2);
  --km-toc-active: rgba(226, 203, 255, 0.6);
  --km-toc-active-font: #000;
  --km-toc-hover: rgba(226, 203, 255, 0.4);
  --km-card-bg: rgba(102, 204, 255, 0.204);
  --km-general-shadow: #546e7a;
  --km-tab-border: #e3e4e6;
  --km-tab-active: #f1f2ff;
  --km-tab-hover: #d1efff;
  --km-tab-overline: #0084ff;
  --km-text-select: rgba(0, 132, 255, 0.502);
  --km-float-win-bg: #f5f5f5;
  --km-globle-font: #000;
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
  font-size: var(--global-font-size);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s;
  overflow-wrap: break-word;
  display: inline-block;
  margin: 6px 6px 6px 6px;
  background-color: var(--btn-beautify-color, #777);
  color: #fff;
  line-height: 2;
  --btn-beautify-color: #0099ff;
  padding: 6px 15px;
  font-family: "LXGW WenKai";
}

.download-list-item-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #24b1ff;
}

.article_describe {
  font-weight: bold;
}

.blog-slider__title {
  margin: -8px;
}

/* rightMenu */

[data-theme="light"] #rightMenu {
  display: none;
  position: fixed;
  width: 160px;
  height: fit-content;
  top: 10%;
  left: 10%;
  background-color: var(--card-bg);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  z-index: 100;
  box-shadow: 1px 1px 5px #88888894;
  background-color: var(--lyx-white-acrylic1);
  backdrop-filter: blur(30px);
}

[data-theme="dark"] #rightMenu {
  display: none;
  position: fixed;
  width: 160px;
  height: fit-content;
  top: 10%;
  left: 10%;
  background-color: var(--card-bg);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  z-index: 100;
  box-shadow: 1px 1px 5px #88888894;
  background-color: var(--lyx-black-acrylic1);
  backdrop-filter: blur(30px);
}

#rightMenu .rightMenu-group {
  padding: 7px 6px;
}

#rightMenu .rightMenu-group:not(:nth-last-child(1)) {
  border-bottom: 0px solid rgb(180, 180, 180);
}

#rightMenu .rightMenu-group.rightMenu-small {
  display: flex;
  justify-content: space-between;
}

#rightMenu .rightMenu-group .rightMenu-item {
  height: 30px;
  line-height: 30px;
  border-radius: 8px;
  transition: 0.3s;
  color: var(--font-color);
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
  display: flex;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
}

#rightMenu .rightMenu-group .rightMenu-item:hover {
  background-color: var(--text-bg-hover);
  box-shadow: 0px 0px 5px var(--lyx-border);
}

#rightMenu .rightMenu-group .rightMenu-item i {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  padding: 0 5px;
}

#rightMenu .rightMenu-group .rightMenu-item span {
  line-height: 30px;
}

#rightMenu:hover {
  box-shadow: 0px 0px 2px 1px #0099ff !important;
  transition: 1.5s !important;
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item * {
  height: 40px;
  line-height: 40px;
}

.rightMenu-group.hide {
  display: none;
}

.rightMenu-group.rightMenu-line.hide {
  display: none;
}

.rightMenu-item:hover {
  color: white !important;
  background-color: var(--lyx-blue) !important;
}

:root {
  --lyx-border: #c9c9c9;
  --lyx-blue: #0099ff;
  --lyx-gray: #e2e2e2;
  --lyx-theme: #6cf;
  --lyx-green: #39c5bb;
  --lyx-black-acrylic1: #0008;
  --lyx-black-acrylic2: #000a;
  --lyx-black-acrylic3: #00000099;
  --lyx-black: black;
  --lyx-white: white;
  --lyx-white-acrylic1: #fffd;
  --lyx-white-acrylic2: #fffa;
  --lyx-blackgray: #797979;
  --lyx-0: #0000;
  --lyx-scrollbar: #acacacdd;
}

[data-theme="light"] .card-widget,
[data-theme="light"] .recent-post-item,
[data-theme="light"] #post,
[data-theme="light"] #archive,
[data-theme="light"] #page,
[data-theme="light"] #tag,
[data-theme="light"] #category,
[data-theme="light"] .error-content {
  background: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(50px);
}

[data-theme="dark"] .card-widget,
[data-theme="dark"] .recent-post-item,
[data-theme="dark"] #post,
[data-theme="dark"] #archive,
[data-theme="dark"] #page,
[data-theme="dark"] #tag,
[data-theme="dark"] #category,
[data-theme="dark"] .error-content {
  box-shadow: none !important;
}

[data-theme="light"] .card-widget:hover,
[data-theme="light"] .recent-post-item:hover,
[data-theme="light"] #post:hover,
[data-theme="light"] #archive:hover,
[data-theme="light"] #page:hover,
[data-theme="light"] #tag:hover,
[data-theme="light"] #category:hover,
[data-theme="light"] .error-content:hover {
  box-shadow: 0px 0px 1px 1px #0099ff !important;
  transition: 0.5s !important;
}

.read-mode #post:hover {
  box-shadow: none !important;
}

[data-theme="dark"] .card-widget:hover,
[data-theme="dark"] .recent-post-item:hover,
[data-theme="dark"] #post:hover,
[data-theme="dark"] #archive:hover,
[data-theme="dark"] #page:hover,
[data-theme="dark"] #tag:hover,
[data-theme="dark"] #category:hover,
[data-theme="dark"] .error-content:hover {
  box-shadow: 0px 0px 1px 1px #1f1f1f !important;
  transition: 0.5s !important;
}

[data-theme="light"] .cal_week {
  background: transparent;
}

back [data-theme="light"] #rightMenu {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(50px);
}

[data-theme="light"] .post-copyright {
  background: rgba(255, 255, 255) !important;
  backdrop-filter: blur(0px);
  border-radius: 10px;
}

[data-theme="dark"] .post-copyright {
  backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 0px !important;
  background-color: #040404 !important;
}

[data-theme="light"] #page-header #nav,
[data-theme="light"] #page-header.not-home-page #nav {
  background: rgba(255, 255, 255, 0) !important;
}

[data-theme="light"] #page-header.nav-visible #nav {
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(50px);
  color: white !important;
}

[data-theme="light"] #rightside > div > button,
[data-theme="light"] #rightside > div > a {
  background: #0099ff;
  backdrop-filter: blur(50px);
  cursor: pointer !important;
}

[data-theme="light"] #rightside > div > button:hover,
[data-theme="light"] #rightside > div > a:hover {
  background: #24b1ff;
  cursor: pointer !important;
}

[data-theme="dark"] #rightside > div > button,
[data-theme="dark"] #rightside > div > a {
  cursor: pointer !important;
}

/* .pagination-post {
    background-image: url(http://cloudchewie.com/img/sticky.webp) !important;
} */

[data-theme="light"] .pagination-post {
  background: white !important;
  backdrop-filter: blur(50px);
  border-radius: 10px;
}

[data-theme="dark"] .pagination-post {
  backdrop-filter: blur(50px);
  border-radius: 10px;
  background-color: #040404 !important;
}

[data-theme="dark"] .pagination-post:hover {
  transition: 0.3s;
  background-color: #040404 !important;
  box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6),
    0 2px 4px 0 rgba(232, 237, 250, 0.5);
}

[data-theme="light"] .note {
  background: white !important;
  backdrop-filter: blur(50px);
}

[data-theme="light"] .note.disabled {
  background: transparent !important;
}

[data-theme="light"] .next-post:hover,
[data-theme="light"] .prev-post:hover {
  font-size: medium;
  transition: 0.3s;
}

[data-theme="light"] #pagination .prev-post:hover .label,
[data-theme="light"] #pagination .next-post:hover .label,
[data-theme="light"] #pagination .next-post:hover .next_info,
[data-theme="light"] #pagination .prev-post:hover .prev_info {
  color: white !important;
}

[data-theme="light"] #pagination .prev-post .label,
[data-theme="light"] #pagination .next-post .label,
[data-theme="light"] #pagination .next-post .next_info,
[data-theme="light"] #pagination .prev-post .prev_info {
  color: white !important;
}

[data-theme="dark"] .next-post:hover,
[data-theme="dark"] .prev-post:hover {
  font-size: medium;
  transition: 0.3s;
}

[data-theme="dark"] #pagination .prev-post:hover .label,
[data-theme="dark"] #pagination .next-post:hover .label,
[data-theme="dark"] #pagination .next-post:hover .next_info,
[data-theme="dark"] #pagination .prev-post:hover .prev_info {
  color: white !important;
  transition: 0.3s;
}

[data-theme="dark"] #pagination .prev-post .label,
[data-theme="dark"] #pagination .next-post .label,
[data-theme="dark"] #pagination .next-post .next_info,
[data-theme="dark"] #pagination .prev-post .prev_info {
  color: white !important;
}

.search-dialog {
  background: rgba(73, 177, 245, 0.3);
  backdrop-filter: blur(10px);
}

#algolia-hits-empty {
  color: white;
}

.search-dialog-title {
  color: white;
}

.algolia-hit-item-link {
  color: white !important;
}

.algolia-hit-item-link:hover {
  color: #0099ff !important;
}

.ais-Hits-list {
  color: white;
}

.ais-Stats-text {
  color: white;
}

[data-theme="light"] #sidebar #sidebar-menus.open {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

[data-theme="dark"] #sidebar #sidebar-menus.open {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

#sidebar #menu-mask {
  background: rgba(255, 255, 255, 0);
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#recent-posts > .post-card-large {
  height: 20em !important;
}

#recent-posts > .post-card-large > .recent-post-info > .content {
  -webkit-line-clamp: 5 !important;
}
#recent-posts > .recent-post-item {
  position: relative;
}

/* 最新文章图标 */
[data-theme="light"] .newPost-left,
[data-theme="light"] .newPost-right {
  position: absolute;
  top: 0;
  color: white;
  padding: 0 15px;
  background-color: #0099ff;
  border-radius: 0 0 10px 10px;
}
[data-theme="dark"] .newPost-left,
[data-theme="dark"] .newPost-right {
  position: absolute;
  top: 0;
  color: white;
  padding: 0 15px;
  background-color: #1f1f1f;
  border-radius: 0 0 10px 10px;
}
.newPost-left {
  left: 15px;
}

.newPost-right {
  right: 15px;
}
#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
[data-theme="light"] #universe {
  display: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #0099ff !important; /*自己改*/
}
.cal tbody .cal-ntoday a {
  border-radius: 5px;
  border: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

.cal tbody .cal-today a {
  border-radius: 5px;
  border: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

.cal tbody .cal-ntoday a:hover {
  background-color: #0099ff;
}

.snackbar-container {
  font-family: "LXGWWenKai-Regular";
  text-align: center;
}

.cal-title {
  font-family: "LXGWWenKai-Regular";
}

.cal-title a:hover {
  color: #0099ff;
}

#aside-content .card-tag-cloud a:hover {
  background-color: #0099ff;
  color: #fff !important;
}

.swiper-pagination-bullet:hover {
  background-color: #0099ff !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0099ff !important;
}

.ais-SearchBox-loadingIndicator {
  visibility: hidden;
}

#article-container .tag-Link {
  border-radius: 8px !important;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-width: 1px !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #000;
}

[data-theme="light"] #article-container .tag-Link {
  background: var(--heo-secondbg);
  border: var(--style-border);
}

[data-theme="dark"] #article-container .tag-Link {
  background: #1f1f1f;
  border: var(--style-border);
}

#article-container .tag-Link:hover {
  border: var(--style-border-hover);
  text-decoration: none !important;
}

#article-container .tag-Link .tag-link-tips {
  border-bottom: var(--style-border);
  padding-bottom: 4px;
  font-size: 0.6rem;
  font-weight: normal;
  text-decoration: none !important;
}

#article-container .tag-Link .tag-link-tips,
#article-container .tag-Link .fa-solid,
#article-container .tag-Link .tag-link-sitename {
  color: #999999;
}

#article-container .tag-Link .tag-link-bottom {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-around;
  text-decoration: none !important;
}

#article-container .tag-Link .tag-link-bottom .tag-link-left {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: cover;
  text-decoration: none !important;
}

#article-container .tag-Link .tag-link-bottom .tag-link-right {
  text-decoration: none !important;
  margin-left: 1rem;
}

#article-container .tag-Link .tag-link-bottom .tag-link-right .tag-link-title {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.2;
}

#article-container
  .tag-Link
  .tag-link-bottom
  .tag-link-right
  .tag-link-sitename {
  font-size: 0.8rem;
  text-decoration: none !important;
  font-weight: normal;
  margin-top: 4px;
}

#article-container .tag-Link .tag-link-bottom i {
  margin-left: auto;
  text-decoration: none !important;
}

/* 导航栏居中 */
#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}