.talk_item {
  display: inline-block;
  width: 32.7%;
  margin-right: 1%;
  margin-bottom: 15px;
}
@media screen and (max-width: 1250px) {
  .zone_imgbox {
    --w: 120px;
  }
}

@media screen and (max-width: 1100px) {
  .talk_item {
    width: 49.3%;
    margin-right: 1.4%;
  }

  .zone_imgbox {
    --w: 150px;
    gap: 6px;
  }
}

@media screen and (max-width: 768px) {
  .talk_item {
    width: 100%;
    margin-right: 0;
  }

  span.talk_date {
    font-size: 14px;
  }
}
.talk_content {
  line-height: 1.5;
  font-size: 1rem;
}
.talk_item {
  padding: 1rem;
}
a.talk_comment {
  text-decoration: none;
}
a.talk_comment:hover {
  text-decoration: none !important;
  background: transparent !important;
}
.talk_item,
#page:has(#talk) .tk-expand,
#page:has(#talk) .tk-comments-container > .tk-comment,
#page:has(#talk) .tk-submit:nth-child(1) {
  background: var(--card-bg);
  border: var(--card-border) !important;
  -webkit-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 8px;
}
#page:has(#talk) .tk-comments-title {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.talk_item:hover,
#page:has(#talk) .tk-comments-container > .tk-comment:hover,
#page:has(#talk) .tk-submit:nth-child(1):hover {
  -webkit-box-shadow: var(--card-hover-box-shadow);
  box-shadow: var(--card-hover-box-shadow);
}

#page:has(#talk) .tk-submit {
  padding: 20px 10px 0;
}

#page:has(#talk) .tk-comments-container > .tk-comment {
  padding: 15px;
}

/* 页面初始化结束 */

#talk {
  margin-top: 1rem;
}

#talk .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#talk .loading img {
  width: 200px;
}

.avatar {
  margin: 0px !important;
  margin-right: 1rem !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 20px !important;
}

.talk_bottom,
.talk_meta {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 1.5;
}
.talk_bottom {
  justify-content: space-between;
}
.talk_item .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
.talk_spacer {
  border: 1px dashed #4259ef23;
  margin: 8px 0;
}
span.talk_nick {
  color: var(--font-color);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.2;
}
svg.is-badge.icon {
  display: none;
  width: 15px;
  margin-left: 5px;
  padding-top: 3px;
}
span.talk_date {
  color: var(--font-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.2;
  text-align: center;
}
span.talk_dot {
  color: var(--font-color);
  font-weight: 800;
  margin: 0.5rem;
}
.zone_imgbox {
  display: flex;
  flex-wrap: wrap;
  --w: calc(25% - 8px);
  gap: 10px;
  margin-top: 5px;
}

img.no-lazyload {
  border-radius: 4px;
}

.zone_imgbox a {
  display: block;
  border-radius: 12px;
  width: var(--w);
  aspect-ratio: 1/1;
  position: relative;
}

.zone_imgbox img {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  object-fit: cover;
}

.talk_bottom {
  opacity: 0.9;
}
.talk_bottom .icon {
  padding: 5px;

  color: var(--font-color);
  float: right;
  transition: all 0.3s;
}

.talk_bottom .icon:hover {
  color: #ffffff;

  background-color: transparent !important;
}

span.talk_tag {
  margin-top: 20px;
  font-size: 14px;
}
.talk_content > a {
  margin: 0 3px;
  color: #ff7d73 !important;
}
.talk_content > a:hover {
  text-decoration: none !important;
  color: #ff5143 !important;
}

/* 提醒 */

.limit {
  transition: all 0.3s ease-in-out;
  color: rgba(76, 73, 72, 0.6);
}

[data-theme="dark"] .limit {
  color: rgba(255, 255, 255, 0.5);
}

.limit {
  display: none;
  text-align: center;
  margin-top: 20px;
  color: var(--font-color);
}
@media screen and (max-width: 900px) {
  .zone_imgbox {
    --w: calc(33% - 5px);
  }
  #talk {
    margin: 10px 3px 0;
  }
  #post-comment {
    margin: 0 3px;
  }
}

@media screen and (max-width: 768px) {
  .zone_imgbox {
    gap: 6px;
  }
  .zone_imgbox {
    --w: calc(50% - 3px);
  }
}
.video-wrapper {
  position: relative;
  padding-bottom: 55%;
  width: 100%;
  height: 0;
  margin: 0.5rem 0;
}
.video-wrapper iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 12px;
  border: var(--card-border);
}
.talk_content {
  padding-bottom: 3px !important;
}
.tag-span {
  color: var(--theme-color);
}
.music-wrapper .aplayer {
  margin: 0.5rem 0 !important;
  border: var(--card-border) !important;
  border-radius: 10px !important;
  box-shadow: var(--card-box-shadow) !important;
  transition: all 0.3s;
}
.music-wrapper .aplayer:hover {
  box-shadow: var(--card-hover-box-shadow) !important;
}
.music-wrapper .aplayer {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: normal;
  position: relative;
}
[data-theme="light"] .music-wrapper .aplayer {
  background: #333 !important;
}
.music-wrapper .aplayer-miniswitcher {
  background: none !important;
  border: none !important;
}
.music-wrapper .aplayer * {
  box-sizing: content-box;
}

.music-wrapper .aplayer svg {
  width: 100%;
  height: 100%;
}

.music-wrapper .aplayer svg circle,
.music-wrapper .aplayer svg path {
  fill: #fff !important;
}

.music-wrapper .aplayer.aplayer-withlist .aplayer-list {
  display: block;
}

.music-wrapper .aplayer.aplayer-withlist .aplayer-info .aplayer-lrc,
.music-wrapper .aplayer.aplayer-withlist .aplayer-info .aplayer-music {
  width: calc(100% - 82px);
}

.music-wrapper .aplayer.aplayer-withlist .aplayer-body {
  padding: 5px 0 30px;
}

.music-wrapper .aplayer.aplayer-withlist .aplayer-icon:not(.aplayer-icon-lrc) {
  display: inline-block;
}

.music-wrapper
  .aplayer.aplayer-loading
  .aplayer-info
  .aplayer-controller
  .aplayer-loading-icon {
  display: block;
}

.music-wrapper
  .aplayer.aplayer-loading
  .aplayer-info
  .aplayer-controller
  .aplayer-bar-wrap
  .aplayer-bar
  .aplayer-played
  .aplayer-thumb {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.music-wrapper .aplayer .aplayer-body {
  position: relative;
  padding: 5px 0;
}

.music-wrapper .aplayer .aplayer-icon {
  display: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: 0 0;
  border: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.music-wrapper .aplayer .aplayer-icon-forward {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.music-wrapper .aplayer .aplayer-lrc-content {
  display: none;
}

.music-wrapper .aplayer .aplayer-pic {
  position: relative;
  border-radius: 12px;
  float: left;
  height: 66px;
  width: 66px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
}

.music-wrapper .aplayer .aplayer-pic .aplayer-button {
  position: absolute;
  border-radius: 50%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}

.music-wrapper .aplayer .aplayer-pic .aplayer-play {
  width: 26px;
  height: 26px;
  border: 2px solid #fff;
  bottom: 50%;
  right: 50%;
  margin: 0 -15px -15px 0;
}

.music-wrapper .aplayer .aplayer-pic .aplayer-play svg {
  position: absolute;
  top: 3px;
  left: 4px;
  height: 20px;
  width: 20px;
}

.music-wrapper .aplayer .aplayer-pic .aplayer-pause {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  bottom: 4px;
  right: 4px;
}

.music-wrapper .aplayer .aplayer-pic .aplayer-pause svg {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 12px;
  width: 12px;
}

.music-wrapper .aplayer .aplayer-info {
  padding: 7px 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 66px;
  height: 66px;
  box-sizing: border-box;
}
.music-wrapper .aplayer .aplayer-info .aplayer-music,
.music-wrapper .aplayer .aplayer-info .aplayer-lrc {
  margin: 0px 0px 0px 5px !important;
}
.music-wrapper .aplayer .aplayer-info .aplayer-author {
  margin-left: 5px;
}
.music-wrapper .aplayer .aplayer-info .aplayer-music {
  display: flex;
  align-items: center;
  width: calc(100% - 25px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: default;
}

.music-wrapper .aplayer .aplayer-info .aplayer-music .aplayer-title {
  color: #fff;
  font-size: 14px;
}

.music-wrapper .aplayer .aplayer-info .aplayer-music .aplayer-author {
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
}

.music-wrapper .aplayer .aplayer-info .aplayer-controller {
  display: flex;
  align-items: center;
}

.music-wrapper .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  padding: 4px 0;
  cursor: pointer !important;
  flex: 1;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-bar-wrap:hover
  .aplayer-bar
  .aplayer-played
  .aplayer-thumb {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-bar-wrap
  .aplayer-bar {
  position: relative;
  height: 4px;
  width: 100%;
  background: #cdcdcd;
  border-radius: 100px;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-bar-wrap
  .aplayer-bar
  .aplayer-loaded {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #aaa;
  height: 4px;
  transition: all 0.5s ease;
  border-radius: 100px;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-bar-wrap
  .aplayer-bar
  .aplayer-played {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 4px;
  border-radius: 100px;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-bar-wrap
  .aplayer-bar
  .aplayer-played
  .aplayer-thumb {
  position: absolute;
  top: 0;
  right: 5px;
  margin-top: -3px;
  margin-right: -10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.music-wrapper .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  right: 0;
  color: #999;
  font-size: 12px;
  line-height: 1;
  padding-left: 7px;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-time
  .main-button {
  display: block;
  position: absolute !important;
  top: 15px !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 3px !important;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-time
  .main-button
  .aplayer-icon {
  height: 25px;
  width: 25px;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-time
  .main-button
  .aplayer-icon-play {
  display: inline-block !important;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-time
  .other-button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  left: 0;
  right: 0;
  bottom: 3px;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-time
  .aplayer-icon
  .aplayer-icon-lrc {
  display: none;
}

.music-wrapper .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap {
  position: relative;
  display: inline-block;
  margin-left: 3px;
  cursor: pointer !important;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-volume-wrap:hover
  .aplayer-volume-bar-wrap {
  width: 70px;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-volume-wrap
  .aplayer-volume-bar-wrap {
  position: absolute;
  top: 0;
  left: 20px;
  width: 0;
  height: 20px;
  z-index: 99;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-volume-wrap
  .aplayer-volume-bar-wrap
  .aplayer-volume-bar {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 50px;
  height: 5px;
  background: #aaa;
  border-radius: 2.5px;
  overflow: hidden;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-volume-wrap
  .aplayer-volume-bar-wrap
  .aplayer-volume-bar
  .aplayer-volume {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  transition: all 0.1s ease;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-loading-icon {
  display: none;
}

.music-wrapper
  .aplayer
  .aplayer-info
  .aplayer-controller
  .aplayer-loading-icon
  svg {
  position: absolute;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}

.music-wrapper .aplayer .aplayer-lrc {
  display: block;
  margin-top: 2px;
  width: calc(100% - 25px);
  position: relative;
  height: 16px;
  text-align: left !important;
  overflow: hidden;
}

.music-wrapper .aplayer .aplayer-lrc p {
  font-size: 12px;
  color: #fff;
  opacity: 0.7;
  line-height: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0;
  overflow: hidden;
}

.music-wrapper .aplayer .aplayer-lrc p.aplayer-lrc-current {
  opacity: 1;
  overflow: visible;
  height: auto !important;
  min-height: 16px;
}

.music-wrapper .aplayer .aplayer-lrc.aplayer-lrc-hide {
  display: none;
}

.music-wrapper .aplayer .aplayer-lrc .aplayer-lrc-contents {
  width: 100%;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: default;
}

.music-wrapper .aplayer .aplayer-list {
  overflow: auto;
  transition: all 0.5s ease;
  will-change: height;
  display: none;
  overflow: hidden;
}

.music-wrapper .aplayer .aplayer-list.aplayer-list-hide {
  max-height: 0 !important;
}

.music-wrapper .aplayer .aplayer-list ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.music-wrapper .aplayer .aplayer-list ol::-webkit-scrollbar {
  width: 5px;
}

.music-wrapper .aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #eee;
}

.music-wrapper .aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

.music-wrapper .aplayer .aplayer-list ol li {
  position: relative;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  overflow: hidden;
  margin: 1px 0;
  border-radius: 5px;
}

.music-wrapper .aplayer .aplayer-list ol li:first-child {
  border-top: none;
}

.music-wrapper .aplayer .aplayer-list ol li.aplayer-list-light,
.music-wrapper .aplayer .aplayer-list ol li:hover {
  background: #555;
}

.music-wrapper .aplayer .aplayer-list ol li .aplayer-list-title {
  color: #fff;
}

.music-wrapper .aplayer .aplayer-list ol li .aplayer-list-index {
  color: #fff;
  opacity: 0.8;
  margin-right: 12px;
  cursor: pointer;
}

.music-wrapper .aplayer .aplayer-list ol li .aplayer-list-author {
  color: #fff;
  opacity: 0.8;
  float: right;
  cursor: pointer;
}

.music-wrapper .aplayer .aplayer-notice {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 12px;
  border-radius: 4px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  pointer-events: none;
  background-color: #444;
  color: #fff;
}

@-webkit-keyframes aplayer-roll {
  0% {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes aplayer-roll {
  0% {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.music-wrapper .aplayer-lrc:after,
.music-wrapper .aplayer-lrc:before {
  background: none !important;
}
.music-wrapper span,
.music-wrapper p {
  font-family: LXGW Wenkai !important;
}
.talk_content ul,
.talk_content pre,
.talk_content a:has(img) img:not(.avatar) {
  margin: 5px 0px !important;
}
.talk_content p {
  margin: 0px !important;
}
.talk_content a:has(img) {
  padding: 0px !important;
}
