[data-theme="light"] #rightMenu {
  display: none;
  position: fixed;
  width: 160px;
  height: fit-content;
  top: 10%;
  left: 10%;
  background: rgba(255, 255, 255, 0.85) !important;
  border-radius: 8px;
  z-index: 100;
  backdrop-filter: blur(20px);
  box-shadow: var(--card-box-shadow);
  border: var(--card-border);
}
[data-theme="dark"] #rightMenu {
  display: none;
  position: fixed;
  width: 160px;
  height: fit-content;
  top: 10%;
  left: 10%;
  background-color: var(--card-bg);
  border: var(--card-border);
  border-radius: 8px;
  z-index: 100;
  backdrop-filter: blur(20px);
}

#rightMenu .rightMenu-group {
  padding: 6px 6px;
}
#rightMenu .rightMenu-line {
  border-top: 1px dashed #4259ef23;
}
#rightMenu .rightMenu-group.rightMenu-small {
  display: flex;
  justify-content: space-between;
}

#rightMenu .rightMenu-group .rightMenu-item {
  height: 30px;
  line-height: 30px;
  border-radius: 8px;
  transition: 0.3s;
  color: var(--font-color);
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
  display: flex;
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
}

#rightMenu .rightMenu-group .rightMenu-item:hover {
  background-color: var(--text-bg-hover);
  box-shadow: none;
}

#rightMenu .rightMenu-group .rightMenu-item i {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  padding: 0 5px;
}

#rightMenu .rightMenu-group .rightMenu-item span {
  line-height: 30px;
}

#rightMenu:hover {
  /* box-shadow: 0px 0px 1px 1px var(--theme-color) !important; */
  box-shadow: var(--card-hover-box-shadow) !important;
  transition: 0.3s !important;
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item * {
  height: 40px;
  line-height: 40px;
}

.rightMenu-group.hide {
  display: none;
}

.rightMenu-group.rightMenu-line.hide {
  display: none;
}
.rightMenu-item:hover {
  color: white !important;
}
[data-theme="light"] .CtxtMenu_ContextMenu.CtxtMenu_Menu,
[data-theme="light"] .CtxtMenu_Info {
  background: rgba(255, 255, 255, 0.85) !important;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  padding: 6px 6px;
  box-shadow: var(--card-box-shadow);
  border: var(--card-border);
  font-family: LXGW WenKai;
  font-size: var(--global-font-size);
}
.CtxtMenu_InfoContent {
  background: transparent !important;
  border: var(--card-border-dashed) !important;
}
[data-theme="dark"] .CtxtMenu_ContextMenu.CtxtMenu_Menu,
[data-theme="dark"] .CtxtMenu_Info {
  background-color: var(--card-bg);
  border-radius: 8px;
  backdrop-filter: blur(20px);
  padding: 6px 6px;
  box-shadow: var(--card-box-shadow);
  border: var(--card-border);
  font-family: LXGW WenKai;
  font-size: var(--global-font-size);
  color: var(--font-color);
}
[data-theme="light"] .CtxtMenu_MenuDisabled:hover,
[data-theme="light"] .CtxtMenu_MenuDisabled:focus {
  background-color: #e8e8e8;
}
.CtxtMenu_MenuCheck{
  margin-left: 5px;
}
[data-theme="dark"] .CtxtMenu_MenuDisabled:hover,
[data-theme="dark"] .CtxtMenu_MenuDisabled:focus {
  background-color: #1f1f1f;
}
.CtxtMenu_Info {
  padding: 20px !important;
}
.CtxtMenu_MenuClose span {
  border: none !important;
  background: none !important;
}
[data-theme="light"] .CtxtMenu_MenuClose:hover span {
  border: none !important;
  background: none !important;
  color: var(--theme-color) !important;
}
[data-theme="light"] .CtxtMenu_MenuClose {
  border: none !important;
  background: none !important;
  color: black;
}
.CtxtMenu_MenuItem {
  border-radius: 8px !important;
  padding: 5px 2rem !important;
  margin: 0px 3px 0px 3px !important;
}
[data-theme="light"] .CtxtMenu_MenuActive {
  background-color: var(--text-bg-hover);
}
[data-theme="dark"] .CtxtMenu_MenuActive {
  background-color: var(--text-bg-hover);
}
.CtxtMenu_MenuArrow {
  font-family: LXGW WenKai;
}
.CtxtMenu_MenuRule {
  border-top: 1px dashed #4259ef23;
  margin-top: 10px !important;
}
.CtxtMenu_ContextMenu.CtxtMenu_Menu:hover {
  box-shadow: 0px 0px 1px 1px var(--theme-color) !important;
  transition: 0.3s !important;
}
