@font-face {
  font-family: "cloudchewiefont"; /* Project id 4430831 */
  src: url('iconfont.eot?t=1706863406196'); /* IE9 */
  src: url('iconfont.eot?t=1706863406196#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1706863406196') format('woff2'),
       url('iconfont.woff?t=1706863406196') format('woff'),
       url('iconfont.ttf?t=1706863406196') format('truetype'),
       url('iconfont.svg?t=1706863406196#cloudchewiefont') format('svg');
}

.cloudchewiefont {
  font-family: "cloudchewiefont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cloudchewie-icon-apps:before {
  content: "\e729";
}

.cloudchewie-icon-hashtag:before {
  content: "\e600";
}

.cloudchewie-icon-fish:before {
  content: "\e618";
}

.cloudchewie-icon-gear:before {
  content: "\e66d";
}

.cloudchewie-icon-dice:before {
  content: "\e617";
}

.cloudchewie-icon-copy:before {
  content: "\e66e";
}

.cloudchewie-icon-circle-half-stroke:before {
  content: "\e616";
}

.cloudchewie-icon-circle-arrow-right:before {
  content: "\e66f";
}

.cloudchewie-icon-circle-arrow-up-right:before {
  content: "\e670";
}

.cloudchewie-icon-arrow-left:before {
  content: "\e615";
}

.cloudchewie-icon-chevron-right:before {
  content: "\e661";
}

.cloudchewie-icon-bars:before {
  content: "\e662";
}

.cloudchewie-icon-book-open:before {
  content: "\e663";
}

.cloudchewie-icon-arrows-left-right:before {
  content: "\e61f";
}

.cloudchewie-icon-angles-right:before {
  content: "\e664";
}

.cloudchewie-icon-link:before {
  content: "\e61e";
}

.cloudchewie-icon-shoe-prints:before {
  content: "\e61d";
}

.cloudchewie-icon-music:before {
  content: "\e665";
}

.cloudchewie-icon-rocket:before {
  content: "\e666";
}

.cloudchewie-icon-images:before {
  content: "\e61c";
}

.cloudchewie-icon-lightbulb:before {
  content: "\e667";
}

.cloudchewie-icon-chevron-left:before {
  content: "\e61b";
}

.cloudchewie-icon-envelope:before {
  content: "\e668";
}

.cloudchewie-icon-fan:before {
  content: "\e669";
}

.cloudchewie-icon-box-archive:before {
  content: "\e66a";
}

.cloudchewie-icon-artstation:before {
  content: "\e66b";
}

.cloudchewie-icon-train:before {
  content: "\e61a";
}

.cloudchewie-icon-shapes:before {
  content: "\e619";
}

.cloudchewie-icon-magnifying-glass:before {
  content: "\e66c";
}

.cloudchewie-icon-fw-fire:before {
  content: "\e654";
}

.cloudchewie-icon-forward:before {
  content: "\e655";
}

.cloudchewie-icon-download:before {
  content: "\e626";
}

.cloudchewie-icon-dice-d20:before {
  content: "\e656";
}

.cloudchewie-icon-comment-medical:before {
  content: "\e657";
}

.cloudchewie-icon-calendar-days:before {
  content: "\e624";
}

.cloudchewie-icon-circle-xmark:before {
  content: "\e625";
}

.cloudchewie-icon-chart-line:before {
  content: "\e658";
}

.cloudchewie-icon-backward:before {
  content: "\e659";
}

.cloudchewie-icon-arrow-rotate-right:before {
  content: "\e623";
}

.cloudchewie-icon-angle-right:before {
  content: "\e65a";
}

.cloudchewie-icon-angle-down:before {
  content: "\e65b";
}

.cloudchewie-icon-radio:before {
  content: "\e622";
}

.cloudchewie-icon-tag:before {
  content: "\e65c";
}

.cloudchewie-icon-paper-plane:before {
  content: "\e65d";
}

.cloudchewie-icon-list-ul:before {
  content: "\e621";
}

.cloudchewie-icon-comment-sms:before {
  content: "\e65e";
}

.cloudchewie-icon-house-chimney:before {
  content: "\e65f";
}

.cloudchewie-icon-comments:before {
  content: "\e620";
}

.cloudchewie-icon-grip-vertical:before {
  content: "\e660";
}

.cloudchewie-icon-angle-left:before {
  content: "\e62c";
}

.cloudchewie-icon-angle-double-right:before {
  content: "\e62b";
}

.cloudchewie-icon-angle-double-left:before {
  content: "\e64d";
}

.cloudchewie-icon-angle-double-down:before {
  content: "\e64e";
}

.cloudchewie-icon-xmark:before {
  content: "\e62a";
}

.cloudchewie-icon-window-restore:before {
  content: "\e629";
}

.cloudchewie-icon-thumbtack:before {
  content: "\e64f";
}

.cloudchewie-icon-spinner:before {
  content: "\e650";
}

.cloudchewie-icon-play:before {
  content: "\e628";
}

.cloudchewie-icon-pencil:before {
  content: "\e651";
}

.cloudchewie-icon-location-dot:before {
  content: "\e652";
}

.cloudchewie-icon-paste:before {
  content: "\e653";
}

.cloudchewie-icon-instagram:before {
  content: "\e627";
}

.cloudchewie-icon-plant-fill:before {
  content: "\e63f";
}

.cloudchewie-icon-hand-heart-fill:before {
  content: "\e640";
}

.cloudchewie-icon-copyright:before {
  content: "\e633";
}

.cloudchewie-icon-circle-info:before {
  content: "\e641";
}

.cloudchewie-icon-bolt:before {
  content: "\e642";
}

.cloudchewie-icon-arrows-rotate:before {
  content: "\e62d";
}

.cloudchewie-icon-rss:before {
  content: "\e632";
}

.cloudchewie-icon-thumbs-up:before {
  content: "\e631";
}

.cloudchewie-icon-bilibili:before {
  content: "\e62e";
}

.cloudchewie-icon-sign-out-alt:before {
  content: "\e630";
}

.cloudchewie-icon-stream:before {
  content: "\e643";
}

.cloudchewie-icon-shuffle:before {
  content: "\e644";
}

.cloudchewie-icon-qq:before {
  content: "\e62f";
}

.cloudchewie-icon-repeat:before {
  content: "\e645";
}

.cloudchewie-icon-pause:before {
  content: "\e646";
}

.cloudchewie-icon-heartbeat:before {
  content: "\e647";
}

.cloudchewie-icon-github:before {
  content: "\e648";
}

.cloudchewie-icon-fw-eye:before {
  content: "\e649";
}

.cloudchewie-icon-folder-open:before {
  content: "\e64a";
}

.cloudchewie-icon-bullhorn:before {
  content: "\e64b";
}

.cloudchewie-icon-caret-left:before {
  content: "\e64c";
}

.cloudchewie-icon-scissors:before {
  content: "\e639";
}

.cloudchewie-icon-keyboard:before {
  content: "\e63a";
}

.cloudchewie-icon-tiktok:before {
  content: "\e63b";
}

.cloudchewie-icon-circle-plus:before {
  content: "\e638";
}

.cloudchewie-icon-circle-minus:before {
  content: "\e637";
}

.cloudchewie-icon-circle-dot:before {
  content: "\e63c";
}

.cloudchewie-icon-circle-check:before {
  content: "\e636";
}

.cloudchewie-icon-arrow-down:before {
  content: "\e63d";
}

.cloudchewie-icon-weibo:before {
  content: "\e635";
}

.cloudchewie-icon-triangle-exclamation:before {
  content: "\e63e";
}

.cloudchewie-icon-qrcode:before {
  content: "\e634";
}

.cloudchewie-icon-danmu:before {
  content: "\e612";
}

.cloudchewie-icon-jianti:before {
  content: "\e6d7";
}

.cloudchewie-icon-fanti:before {
  content: "\e6d8";
}

