.box {
    margin: 100px auto;
    width: 1000px;
    height: 600px;
    text-align: center;
}

.img {
    margin: 0 auto;
    height: 400px;
    width: 700px;
    background-image: url('https://picbed.cloudchewie.com/blog/gallery/shoto/shoto1.png');
    background-size: cover;
}

button {
    display: inline-block;
    outline: none;
    background-color: #000;
    border: 0;
    border-radius: 8px;
    margin: 40px 70px;
    width: 70px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

button[disabled] {
    background-color: #e3e5e7;
    color: #fff;
    pointer-events: none;
}