.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    height: 52px;
}

.shortcut .wrapper ul {
    float: right;
}

.shortcut .wrapper ul li {
    float: left;
    line-height: 52px;
}

.shortcut .wrapper ul li a {
    padding: 0 16px;
    border-right: 1px solid #666;
    font-size: 14px;
    color: #dcdcdc;
}

.shortcut .wrapper ul li a:hover {
    color: #27ba9b;
    transition: 0.3s;
}

.shortcut .wrapper ul li:nth-child(7) a {
    border-right: none;
}

.shortcut .wrapper ul li a span {
    display: inline-block;
    margin-right: 8px;
    width: 11px;
    height: 16px;
    background-image: url(https://picbed.cloudchewie.com/blog/love/rabbit/images/sprites.png);
    background-position: -160px -70px;
    vertical-align: -4%;
}

.header {
    margin: 30px auto;
    height: 70px;
}

.header .logopic {
    float: left;
}

.header .logo h1 {
    font-size: 0;
}

.header .logopic a {
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(https://picbed.cloudchewie.com/blog/love/rabbit/images/logo.png);
    background-position: 0 0;
    background-size: cover;
}

.header .logowords {
    float: left;
    margin-left: 15px;
}

.header .logowords a {
    display: block;
    width: 135px;
    height: 70px;
    background-image: url(https://picbed.cloudchewie.com/blog/love/rabbit/images/logo.png);
    background-size: cover;
    background-position: -72px -7px;
}

.nav {
    float: left;
    margin-left: 40px;
    height: 70px;
}

.nav ul li {
    float: left;
    margin-right: 48px;
    line-height: 70px;
}

.nav ul li a {
    padding-bottom: 5px;
}

.nav ul li a:hover {
    color: #27ba9b;
    /* border-bottom: 1px solid #27ba9b; */
}

.search {
    position: relative;
    float: left;
    width: 172px;
    height: 52px;
    border-bottom: 2px solid #e7e7e7;
}

.search input {
    width: 141px;
    height: 30px;
    margin-top: 20px;
    margin-left: 31px;
}

.search input::placeholder {
    font-size: 14px;
    color: #ccc;
}
.search span {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 24px;
    background-image: url(https://picbed.cloudchewie.com/blog/love/rabbit/images/sprites.png);
    background-position: -79px -69px;
}

.cart a {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-top: 26px;
    width: 23px;
    height: 23px;
    background-image: url(https://picbed.cloudchewie.com/blog/love/rabbit/images/sprites.png);
    background-position: -119px -70px;
}

.cart .dots {
    position: absolute;
    top: -5px;
    right: -12px;
    width: 20px;
    height: 15px;
    background-color: #e26237;
	border-radius: 8px;

    font-family: PingFangSC-Medium;
	font-size: 13px;
    color: #fff;
    line-height: 15px;
    text-align: center;
}

.footer {
    height: 343px;
    background-color: #333;
}

.footer .wrapper {
    width: 1393px;
    margin: 0 auto;
}

.footer .top {
    height: 175px;
    border-bottom: 3px solid #434343;
}

.footer .top ul {
    margin-left: 111.5px;
}

.footer .top li {
    float: left;
    margin-top: 60px;
    margin-right: 300px;
    width: 190px;
    height: 58px;

    font-family: PingFangSC-Light;
	font-size: 28px;
    color: #fff;
}

.footer .top li::before {
    content: '';
    display: inline-block;
    vertical-align: -20px;
    width: 58px;
    height: 58px;
    background-image: url(https://picbed.cloudchewie.com/blog/love/rabbit/images/sprites.png);
    background-position: 0 0;
}

.footer .top li:last-child {
    margin-right: 0;
}

.footer .bottom {
    margin-top: 40px;
}

.footer .bottom ul {
    width: 500px;
    margin: 0 auto;
}

.footer .bottom li a {
    float: left;
    padding: 0 5px;
    border-right: 2px solid #999;

    font-weight: bold;
    font-family: PingFangSC-Light;
	font-size: 14px;
    color: #999;
}

.footer .bottom li a:hover {
    color: #fff;
    transition: all .2s ease-in-out;
}

.footer .bottom li:last-child a {
    border-right: 0;
}

.footer .bottom p {
    width: 500px;
    margin: 15px auto 0;

    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #999;
    font-family: PingFangSC-Light;
}